<ul class="nav nav-tabs">
  <li role="presentation" id="homeid"><a href="/home">Home</a></li>
  <li role="presentation" id="matchid"><a href="/match/details">Match Entries</a></li>
  <li role="presentation" id="teamid"><a href="/team/details">Team Entries</a></li>
  <li role="presentation" id="playerid"><a href="/player/details">Players Entry</a></li>
  <li role="presentation" id="winnerid"><a href="/winner/details">Winners Entry</a></li>
</ul>