    <div class="container">
      <div class="jumbotron bgcol">
          <div class="row">
              <div class="col-xs-6 col-md-3">
                <a href="#">
                  <img src="../images/admin.png" class="img-responsive">
                </a>
              </div>

              <div class="col-xs-6 col-md-9 text-center">
                
                  <h2 class="gfont">Welcome Admin</h2>
                  <h2 class="gfont"><a href="/logout">Logout</a></h2>
                
                </div>
            </div>
          
      </div>
      </div>
