<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

<table> 
  <tr><td><a href="/matchdetails">Enter Match Details</a></td></tr>
  <tr><td><a href="/teamdetails">Enter Team Details</a></td></tr>
  <tr><td><a href="#">Enter Game Winner Details</a></td></tr>
  <tr><td><a href="/update/teampoints">Update Team Points</a></td></tr>
</table>

  </body>
</html>
